* {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  margin: 0 6px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#language,
#backlight,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#clock:hover,
#tray:hover,
#cpu:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#language:hover,
#backlight:hover,
#custom-update:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
}

#tray * {
  box-shadow: none;
}

#tray menu {
  background-color: rgba(0,0,0,0.8);
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#tray menu *:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  background-color: rgba(0,0,0,0.8);
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
