* {
font-family: Adwaita; /* Если шрифта не будет, возьмётся какой-то другой */
}

.background {
/* round and global margin padding */
border-radius: 36px;
margin: 3px;
padding: 0px 3px;
}

#bar  .widget {
min-height: 34px;
min-width: 0px;
margin: 3px 0px;
padding: 0px;

font-weight: bold;
font-size: 14px;

}

.focused .icon {
    filter: grayscale(100%) sepia(50%) saturate(150%);
}

.tray .item {
    filter: grayscale(100%) sepia(50%) saturate(150%);
    margin: 3px;
}

.volume  .popup-volume {
    margin-left: 6px;
}

.main .category {
    margin: 3px;    
}

.menu label {
margin: 0 6px;
}

.battery .icon {
    filter: grayscale(100%) sepia(50%) saturate(150%);
}

.battery .contents {
margin: 0 6px;
}
