*{
	border: none; /*Убрать лишние рамки*/
	border-radius: 8px; /*Закругление главное в 10px*/
}

#input {
	margin-bottom: 3px; /*Чтобы был отступ, а не расширять input как в padding*/
}

#outer-box {
	padding: 3px; /*Чтобы был внешний отступ со всех сторон, с этим же фоном, а не прозрачным margin*/
}

/*Убрать полосы снизу и сверху при прокрутке*/
overshoot {
background: transparent;
}

